

.botonera
	background blancoManchado
	border 1px solid borde
	border-left 5px solid texto4
	border-right 5px solid texto4
	height auto
	position relative
	width 100%
	z-index 6
	&:after
		border-bottom 37px solid transparent
		border-left 10px solid transparent
		border-right 8px solid texto4
		border-top 37px solid transparent
		content ''
		position absolute
		right 0px
		top 0
	ul
		overflow-x auto
		padding 12px 0
		white-space nowrap
		&::-webkit-scrollbar
			display none
		li
			background azul
			border-radius 50%
			display inline-block
			height 50px
			margin 0 20px 0 0 
			padding 5px
			position relative
			text-align center
			width 50px
			&:first-child
				margin 0 20px 0 20px
			a
				color white
				font-style italic
				text-decoration none
				span 
					font-size .5em
					left 30%
					position absolute
					top 28px
.tituloAra
		-webkit-animation timeLineLento .8s
		animation timeLineLento .8s 
		height auto
		left 0
		position absolute
		top 430px
		width 100%
		z-index 10
		.tituloInner
			background verdeOscuro
			border-radius 5px 5px 0 0 
			box-shadow 0 -2px 16px rgba(black,.7)
			height 70px
			left 50%
			margin 0 0 0 -73px
			position relative 
			width 140px
			&:after
				border-bottom 37px solid transparent
				border-left 70px solid transparent
				border-right 70px solid transparent
				border-top 15px solid verdeOscuro
				bottom -52px
				content ""
				content ''
				left 0
				position absolute
				right 0px
			p
				color rgba(white,1)
				font-family Oswald
				font-size 1.2em
				font-weight 400
				left 14px
				line-height 30px
				margin 0 
				position absolute
				text-transform uppercase
				top 9px
				transform: scale(1, .9);
				-ms-transform: scale(1, .9);
				-webkit-transform: scale(1, .9);
				span
					display block
					font-weight 700
					transform: scale(1, 1.2);
					-ms-transform: scale(1, 1.2);
					-webkit-transform: scale(1, 1.2);
.eventoActual
	background eventoActualFonfo
	box-shadow 0 3px 5px rgba(black,.7) inset
	box-shadow none
	color eventoActualFuente
	position relative
	z-index 5
	.detalleEvento
		font-weight 400
		min-height 104px
		padding 30px 0 30px 0 
		.logoEvento
			position relative
			&:before
				font-family icomoon
				left 30px
				position absolute
				top 5px

		.sitioEvento
			color rgba(eventoActualFuente,.5)
			font-size 12px
			margin 5px 0 0 75px
			text-align left
			text-transform uppercase
		.tituloEvento
			margin 0 40px 0 75px
	.tituloOuter
		-webkit-animation timeLineLento .8s
		animation timeLineLento .8s 
		display none
		height auto
		left 0
		position absolute
		top 435px
		width 100%
		z-index 5
		.tituloInner
			background verdeOscuro
			border-radius 5px 5px 0 0 
			box-shadow 0 -2px 16px rgba(black,.8)
			height 70px
			left 50%
			margin 0 0 0 -73px
			position relative 
			width 140px
			&:after
				border-bottom 37px solid transparent
				border-left 70px solid transparent
				border-right 70px solid transparent
				border-top 15px solid verdeOscuro
				bottom -52px
				content ""
				content ''
				left 0
				position absolute
				right 0px
			p
				color rgba(white,1)
				font-family Oswald
				font-size 1.2em
				font-weight 400
				left 14px
				line-height 30px
				margin 0 
				position absolute
				text-transform uppercase
				top 9px
				transform: scale(1, .9);
				-ms-transform: scale(1, .9);
				-webkit-transform: scale(1, .9);
				span
					display block
					font-weight 700
					transform: scale(1, 1.2);
					-ms-transform: scale(1, 1.2);
					-webkit-transform: scale(1, 1.2);
.footer	
	background rgba(azul,.8)
	color white
	overflow hidden
	padding 20px
	position relative
	z-index 5
	img
		float left
		height 50px
		vertical-align middle
		width auto
	.right
		float right
		margin 8px 0 0 0
		vertical-align bottom
		span
			display inline-block
			font-weight 400
			&:after
				content " |"
		.email
			display inline-block
			&:after
				content email
				font-family icomoon
				vertical-align bottom
.listaDias
	.listaEventos
		margin-top 15px
		.contieneEvento
			width 92%
			margin 10px auto 15px auto
			.evento
				.headerEvento
					background blancoManchado
					border-bottom 1px solid borde
					border-radius 10px 10px 0 0 
					padding 10px 0
					position relative
					text-align center 
					span
						color texto2
						font-size 18px
						font-weight 400
						&:after
							color azul
							content lineas
							font-family icomoon
							font-size 1.2em
							font-weight 400
							position absolute
							right 16px
							top 10px
				.footerEvento
					background blancoManchado
					border-radius  0 0  10px 10px
					border-top 1px solid borde
					height 47px
					padding 10px 0
					span
				.desplegado
					display none
					.contenido
						background white
						.texto
							font-family lectura
							font-size 17px 
							line-height 24px
							padding 17px 17px 35px 17px
							p
								padding 9px
					.hero
						height 250px
						position relative
						width 100%
						.detalle
							color white
							position relative
							text-align center
							text-shadow 1px 1px 2px rgba(black,.5)
							z-index 1
							.logoEvento
								&:before
									font-family icomoon
									font-size 3em
									position relative
									top 30px
							.noLogo
								font-weight 400
								margin 0 auto
								position relative
								top 55px
								width 75%
								.sitioEvento
									font-size 12px
									font-weight 300
									margin-top 7px
									text-transform uppercase
								.tituloEvento
									font-size 1.2em
									line-height 1.2em
						.imagen
							-webkit-filter grayscale(0.4)
							// background-image url(../img/hero.jpg)
							background-position 0 0 
							background-repeat no-repeat
							background-size  auto 110%  
							bottom 0
							left 0
							position absolute
							right 0
							top 0 
							z-index 0
						.sombra
							bottom 0
							box-shadow 0 -100px 100px rgba(black,.5) inset
							left 0
							position absolute
							right 0
							top 0
							z-index 1
				.plegado
					background white
					font-family lectura
					font-size 18px
					padding 18px 0 18px 18px
					vertical-align 25px
					.logoEvento
						position relative
						&:before
							color texto2
							font-family icomoon
							font-size 1.5em
							left 10px
							position absolute
							top 5px
					.sitioEvento
						color grisMenu
						font-size 12px
						margin-left 70px
						margin-top 0px
						text-transform uppercase
					.tituloEvento
						margin 0 10px 0 70px
						padding 0 10px 5px 0
.logo
	height 0
	position relative
	text-align center
	top 50px
	z-index 5
	img 
		width 200px
.header
	height 500px 
	overflow hidden
	position relative
	width 100%
	.efecto
		bottom 0 
		left 0
		position absolute
		right 0
		top 0 
		z-index 4
		.rayo
			opacity .2
			.rayoInner
				background-image url(../img/rayos.png)
				background-position -50% -50%
				background-repeat repeat-x repeat-y
				background-size 100% auto
				width 100%
				height 500px
	.degradado
		background #2b1d53
		bottom 0
		left 0
		position absolute
		right 0
		top 0
		.marco
			height 250%
			left -50%
			position relative
			top 80px
			width 190%
			@css {
				background: rgb(215,81,93);
				background: -moz-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%, rgba(215,81,93,1) 23%, rgba(43,29,83,1) 71%, rgba(43,29,83,1) 71%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,81,93,1)), color-stop(23%,rgba(215,81,93,1)), color-stop(71%,rgba(43,29,83,1)), color-stop(71%,rgba(43,29,83,1)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -o-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -ms-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: radial-gradient(ellipse at center,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7515d', endColorstr='#2b1d53',GradientType=1 );
			}
	.social
		position relative
		.twitter
			left -45px
			position relative
			text-align center
			top 100px
			z-index 5
		.facebook
			left 55px
			position relative
			text-align center
			top 72px
			z-index 52
	.titulo
		color white
		font-size 24px
		font-style italic
		letter-spacing 1px
		margin 200px 0 0 0 
		position relative
		text-align center
		text-shadow 1px 1px 1px rgba(black,.5)
		text-transform uppercase
		top 70px
		z-index 5

.menu
	display none
.wraper
	overflow hidden
// ====================


// DECLARA ICONOS DE LOS EVENTOS con esta clase se pinta el mismo icono en evento actual y evnetos plegado y desplegado
.dibujo
	&:before
		content dibujo
.globos
	&:before
		content globos
.campana
	&:before
		content campana
.tiro
	&:before
		content estrellaLlena
