.contenidos .calendario .listaEventos .contieneEvento .evento {
  max-width: 600px;
  margin: 0 auto;
}
.contenidos .calendario .listaEventos .contieneEvento .evento .desplegado .hero .imagen {
  background-size: 100% auto;
}
.contenidos .noCalendario .contieneColaboradores .colaboradores .logoOuter {
  padding: 0 20px 100px 20px;
}
.contenidos .noCalendario .contieneColaboradores .colaboradores .logoOuter .logoInner {
  padding: 15px;
  width: 30%;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .back {
  padding: 30px 0 40px 30px;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .back:last-child {
  padding: 10px 0 40px 30px;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .hero {
  height: 600px;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .hero .fotoOuter {
  height: 600px;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .hero .fotoOuter .foto {
  background-position: 10% 100%;
  background-size: auto 100%;
  position: absolute;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .hero .detalle {
  bottom: 50px;
  left: 30px;
  text-align: left;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .hero .detalle .nombre {
  font-size: 1.9em;
  font-weight: 700;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .hero .detalle .club {
  font-size: 1.3em;
  font-weight: 400;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .texto {
  padding: 30px 50px;
}
.contenidos .noCalendario .contienePubillas .unaPubilla .texto p {
  margin-bottom: 16px;
}
.contenidos .noCalendario .contienePubillas .pubillas .pubillasOuter {
  padding: 20px 0 70px 0;
  width: 70%;
}
.contenidos .noCalendario .contienePubillas .pubillas .pubillasOuter .pubillasInner img {
  width: 90px;
  height: auto;
}
.header {
  display: none;
  background: #f00;
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.header .logo img {
  width: 200px;
}
.header .programa img {
  width: 230px;
}
