

.abrirEventos
    width 70%
.calendario
    .eventoActual
        .detalleMultiEvento2
        .detalleMultiEvento3
            .plegado
                width 360px
                &:first-child
                    margin 0 
        .detalleMultiEvento3
            animation multiEvento3 10s infinite
            -webkit-animation multiEvento3 10s infinite
    .listaDias
        .listaEventos
            .contieneEvento
                width 70%
.header
    background red
    height 500px 
    overflow hidden
    position relative
    width 100%
    .logo
        img
            width 200px
    .programa
        img
            margin 10px 0 0 -100px
            width 280px

@keyframes multiEvento3 
    0%
        margin-left 0
    45%
        margin-left 0
    50%
        margin-left -385px
    90%
        margin-left -385px
    95%
        margin-left -385px
    100%
        margin-left 0