

.abrirEventos
    width 70%
.calendario
    .eventoActual
        .detalleMultiEvento2
        .detalleMultiEvento3
        .detalleMultiEvento4
        .detalleMultiEvento5
            .plegado
                width 360px
                &:first-child
                    margin 0 
        .detalleMultiEvento3
            animation multiEvento3 15s infinite
            -webkit-animation multiEvento3 15s infinite
        .detalleMultiEvento4
            animation multiEvento4 15s infinite
            -webkit-animation multiEvento4 15s infinite
        .detalleMultiEvento5
            animation multiEvento5 20s infinite
            -webkit-animation multiEvento5 20s infinite
    .listaDias
        .listaEventos
            .contieneEvento
                width 70%
.header
    background red
    height 500px 
    overflow hidden
    position relative
    width 100%
    .logo
        img
            width 200px
    .programa
        img
            margin 10px 0 0 -100px
            width 280px

@keyframes multiEvento2 
    0%
        margin-left 0
    45%
        margin-left 0
    50%
        margin-left 0
    90%
        margin-left 0
    95%
        margin-left 0
    100%
        margin-left 0
@keyframes multiEvento3 
    0%
        margin-left 0
    45%
        margin-left 0
    50%
        margin-left -385px
    90%
        margin-left -385px
    95%
        margin-left -385px
    100%
        margin-left 0
@keyframes multiEvento4
    0%
        margin-left 0
    45%
        margin-left 0
    50%
        margin-left -760px
    90%
        margin-left -760px
    95%
        margin-left -765px
    100%
        margin-left 0
@keyframes multiEvento5
    0%
        margin-left 0
    30%
        margin-left 0
    35%
        margin-left -760px
    60%
        margin-left -760px
    65%
        margin-left -1135px
    95%
        margin-left -1135px
    100%
        margin-left 0