
.contenido
	bottom 0 
	left 0
	position fixed
	right 0
	top 85px
	width 100%
	.calendario
		bottom 0
		float right
		margin 0
		overflow-y auto
		position fixed
		right 0 
		top -5px
		width 420px
		z-index 5
		.botonera
			border-radius 0 0 0 10px
			position fixed 
			right 0
			top 215px
			width 420px	
		.eventoActual
			position fixed 
			right 0
			min-height 130px
			top 85px
			width 420px
		.listaDias
			margin 308px 0 0 0 
		.tituloAra
			height auto
			position absolute
			top 15px
			left 71%
			width 170px
	.contieneInformacion
		background white
		bottom 0 
		border-right 1px solid borde
		left 0
		overflow-y auto
		position fixed 
		right 420px
		top 85px
		z-index 0
		.infoHeaderbp3
			background blancoManchado
			border-bottom 1px solid borde
			color texto2
			height 70px
			h2
				font-size 24px
				font-style normal 
				font-weight 100
				letter-spacing 0px
				padding 20px 0 0 30px
				text-transform none
				span
					display inline-block
					font-size 24px 
					letter-spacing 0px
					text-transform lowercase
		.puntos
			display none
.footer
	display none
.header
	height 85px 
	width 100%
	position fixed
	z-index 10
	.efecto
		.rayo
			opacity .5
	.sombra
		bottom 0
		left 0
		position absolute
		right 0
		top 0
		z-index 15
	.degradado
		background #2b1d53
		bottom 0
		left 0
		position absolute
		right 0
		top 0
		.marco
			height 500%
			width 250%
			position relative
			top -200px
			left -150%
			@css {
				background: rgb(215,81,93);
				background: -moz-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%, rgba(215,81,93,1) 23%, rgba(43,29,83,1) 71%, rgba(43,29,83,1) 71%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,81,93,1)), color-stop(23%,rgba(215,81,93,1)), color-stop(71%,rgba(43,29,83,1)), color-stop(71%,rgba(43,29,83,1)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -o-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -ms-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: radial-gradient(ellipse at center,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7515d', endColorstr='#2b1d53',GradientType=1 );

			}
	.social
		.twitter
			position absolute
			top 18px
			left 400px
			z-index 5
		.facebook
			position absolute
			top 18px
			left 520px
			z-index 5
	.titulo
		margin 0
		color white
		font-size 19px
		position absolute
		top 19px
		left 100px
		text-align left
		z-index 5
		letter-spacing 2px
.logo
	position fixed
	top 12px
	left 20px
	z-index 11
	img 
		width 63px

