html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-vup9ry");
  src: url("../fonts/icomoon.eot?#iefix-vup9ry") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff?-vup9ry") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf?-vup9ry") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.svg?-vup9ry#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: rgba(0,0,0,0.1);
  font-family: lato;
  font-size: 20px;
  font-weight: 100;
  height: 100%;
  width: 100%;
}
::selection {
  background: #177dd4;
  color: #fff;
}
a:link {
  color: #177dd4;
  text-decoration: none;
}
a:visited {
  color: #055ac9;
  text-decoration: none;
}
a:hover {
  color: #549cfa;
  text-decoration: none;
}
a:active {
  color: #177dd4;
  text-decoration: none;
}
.enlace {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.invisible {
  display: none;
}
.visible {
  display: block;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.left {
  float: left;
}
.blanco,
.bouBlack,
.bouBlue,
.bouWhite,
.negro {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/sprites.png");
}
.blanco {
  background-position: 0px 0px;
  width: 230px;
  height: 128px;
  transform: scale(0.37, 0.37);
  -ms-transform: scale(0.37, 0.37);
  -webkit-transform: scale(0.37, 0.37);
}
.bouBlack {
  background-position: -230px 0px;
  width: 140px;
  height: 140px;
  transform: scale(0.22, 0.22);
  -ms-transform: scale(0.22, 0.22);
  -webkit-transform: scale(0.22, 0.22);
}
.bouBlue {
  background-position: 0px -128px;
  width: 140px;
  height: 140px;
  transform: scale(0.22, 0.22);
  -ms-transform: scale(0.22, 0.22);
  -webkit-transform: scale(0.22, 0.22);
}
.bouWhite {
  background-position: -370px 0px;
  width: 140px;
  height: 140px;
  transform: scale(0.55, 0.55);
  -ms-transform: scale(0.55, 0.55);
  -webkit-transform: scale(0.55, 0.55);
}
.negro {
  background-position: -140px -140px;
  width: 230px;
  height: 128px;
  transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
  opacity: 0.85;
}
.uno {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Coche.jpg") no-repeat 9999px 9999px;
}
.dos {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Billar.jpg") no-repeat 9999px 9999px;
}
.tres {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Religion.jpg") no-repeat 9999px 9999px;
}
.cuatro {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Toro.jpg") no-repeat 9999px 9999px;
}
.cinco {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Teatro.jpg") no-repeat 9999px 9999px;
}
.seis {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Comida.jpg") no-repeat 9999px 9999px;
}
.siete {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Independencia.jpg") no-repeat 9999px 9999px;
}
.ocho {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Nadar.jpg") no-repeat 9999px 9999px;
}
.nueve {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Jota.jpg") no-repeat 9999px 9999px;
}
.diez {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Catalunya.jpg") no-repeat 9999px 9999px;
}
.once {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Ayuntamiento.jpg") no-repeat 9999px 9999px;
}
.doce {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Futbol.jpg") no-repeat 9999px 9999px;
}
.trece {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Hermita.jpg") no-repeat 9999px 9999px;
}
.catorce {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Campanas.jpg") no-repeat 9999px 9999px;
}
.quince {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Ball.jpg") no-repeat 9999px 9999px;
}
.dieciseis {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Disco.jpg") no-repeat 9999px 9999px;
}
.diecisiete {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Alaska.jpg") no-repeat 9999px 9999px;
}
.dieciocho {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Basquet.jpg") no-repeat 9999px 9999px;
}
.diecinueve {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Tiro.jpg") no-repeat 9999px 9999px;
}
.veinte {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Bici.jpg") no-repeat 9999px 9999px;
}
.veintiuno {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Sorteo.jpg") no-repeat 9999px 9999px;
}
.veintidos {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Guitarra.jpg") no-repeat 9999px 9999px;
}
.veintitres {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Recortes.jpg") no-repeat 9999px 9999px;
}
.veinticuatro {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Musica.jpg") no-repeat 9999px 9999px;
}
.veinticinco {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Fuegos.jpg") no-repeat 9999px 9999px;
}
#bgCanvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: 5;
}
#bgCanvas2 {
  display: none;
}
.abrirEventos {
  height: 44px;
  width: 90%;
  margin: 1em auto 1em auto;
  text-align: center;
}
.abrirEventos .ampliar,
.abrirEventos .reducir {
  background: #d2d2d2;
  border-radius: 3px;
  color: #525252;
  display: inline-block;
  font-size: 0.8em;
  height: 100%;
  line-height: 44px;
  text-align: center;
  vertical-align: top;
  width: 45%;
}
.abrirEventos .ampliar:hover,
.abrirEventos .reducir:hover {
  background: #b8b8b8;
}
.abrirEventos .ampliar {
  margin: 0 0.5em 0 0;
}
.abrirEventos .ampliar:before {
  content: '\e112';
  font-family: icomoon;
  font-size: 0.9em;
  margin: 0 1em 0 0;
}
.abrirEventos .reducir:before {
  content: '\e113';
  font-family: icomoon;
  font-size: 0.9em;
  margin: 0 1em 0 0;
}
.calendario .botonera {
  background: #f8f8f8;
  border: 1px solid #dcdcdc;
  border-left: 5px solid #177dd4;
  border-right: 5px solid #177dd4;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 6;
}
.calendario .botonera:after {
  border-bottom: 37px solid transparent;
  border-left: 10px solid transparent;
  border-right: 8px solid #177dd4;
  border-top: 37px solid transparent;
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
}
.calendario .botonera ul {
  overflow-x: auto;
  padding: 12px 0;
  white-space: nowrap;
  z-index: 20;
}
.calendario .botonera ul::-webkit-scrollbar {
  display: none;
}
.calendario .botonera ul li {
  background: #177dd4;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  margin: 0 20px 0 0;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 50px;
}
.calendario .botonera ul li:first-child {
  margin: 0 20px 0 20px;
}
.calendario .botonera ul li a {
  color: #fff;
  font-style: italic;
  text-decoration: none;
}
.calendario .botonera ul li a span {
  font-size: 0.5em;
  left: 30%;
  position: absolute;
  top: 28px;
}
.calendario .botonera ul .botoneraActive {
  background: #404040;
}
.calendario .botonera .puntos {
  background-image: url("../img/prueba.png");
  background-size: 130px 142px;
  height: 67px;
  left: 4px;
  position: absolute;
  opacity: 0.45;
  top: 4px;
  width: 130px;
}
.calendario .eventoActual {
  background: #cae8fb;
  color: #177afc;
  position: relative;
  z-index: 5;
}
.calendario .eventoActual .detalleMultiEvento,
.calendario .eventoActual .detalleMultiEvento2,
.calendario .eventoActual .detalleMultiEvento3,
.calendario .eventoActual .detalleEvento {
  font-weight: 400;
  min-height: 105px;
  padding: 30px 0 30px 0;
}
.calendario .eventoActual .detalleMultiEvento .logoEvento,
.calendario .eventoActual .detalleMultiEvento2 .logoEvento,
.calendario .eventoActual .detalleMultiEvento3 .logoEvento,
.calendario .eventoActual .detalleEvento .logoEvento {
  position: relative;
}
.calendario .eventoActual .detalleMultiEvento .logoEvento:before,
.calendario .eventoActual .detalleMultiEvento2 .logoEvento:before,
.calendario .eventoActual .detalleMultiEvento3 .logoEvento:before,
.calendario .eventoActual .detalleEvento .logoEvento:before {
  font-family: icomoon;
  left: 30px;
  position: absolute;
  top: 5px;
}
.calendario .eventoActual .detalleMultiEvento .sitioEvento,
.calendario .eventoActual .detalleMultiEvento2 .sitioEvento,
.calendario .eventoActual .detalleMultiEvento3 .sitioEvento,
.calendario .eventoActual .detalleEvento .sitioEvento {
  color: rgba(23,122,252,0.5);
  font-size: 12px;
  margin: 5px 20px 0 75px;
  text-align: left;
  text-transform: uppercase;
}
.calendario .eventoActual .detalleMultiEvento .texto,
.calendario .eventoActual .detalleMultiEvento2 .texto,
.calendario .eventoActual .detalleMultiEvento3 .texto,
.calendario .eventoActual .detalleEvento .texto {
  text-align: center;
}
.calendario .eventoActual .detalleMultiEvento .tituloEvento,
.calendario .eventoActual .detalleMultiEvento2 .tituloEvento,
.calendario .eventoActual .detalleMultiEvento3 .tituloEvento,
.calendario .eventoActual .detalleEvento .tituloEvento {
  margin: 0 20px 0 75px;
}
.calendario .eventoActual .detalleMultiEvento .pila,
.calendario .eventoActual .detalleMultiEvento2 .pila,
.calendario .eventoActual .detalleMultiEvento3 .pila,
.calendario .eventoActual .detalleEvento .pila {
  margin: -15px 0 0 0;
  height: 100px;
  text-align: center;
  animation: pilaCargando 10s infinite;
  -webkit-animation: pilaCargando 10s infinite;
}
.calendario .eventoActual .detalleMultiEvento .pila:after,
.calendario .eventoActual .detalleMultiEvento2 .pila:after,
.calendario .eventoActual .detalleMultiEvento3 .pila:after,
.calendario .eventoActual .detalleEvento .pila:after {
  font-family: icomoon;
  font-size: 6em;
  content: '\e61e';
}
.calendario .eventoActual .detalleMultiEvento2,
.calendario .eventoActual .detalleMultiEvento3 {
  white-space: nowrap;
  position: relative;
  margin-left: 0;
}
.calendario .eventoActual .detalleMultiEvento2 .plegado,
.calendario .eventoActual .detalleMultiEvento3 .plegado {
  display: inline-block;
  margin: 0 0 0 15px;
  vertical-align: top;
  width: 320px;
  white-space: initial;
}
.calendario .eventoActual .detalleMultiEvento2 .plegado:first-child,
.calendario .eventoActual .detalleMultiEvento3 .plegado:first-child {
  margin: 0;
}
.calendario .eventoActual .detalleMultiEvento2 {
  animation: multiEvento2 20s infinite;
  -webkit-animation: multiEvento2 20s infinite;
}
.calendario .eventoActual .detalleMultiEvento3 {
  animation: multiEvento3 25s infinite;
  -webkit-animation: multiEvento3 25s infinite;
}
.calendario .eventoActual .tituloOuter {
  -webkit-animation: timeLineLento 0.8s;
  animation: timeLineLento 0.8s;
  display: none;
  height: auto;
  left: 0;
  position: absolute;
  top: 435px;
  width: 100%;
  z-index: 5;
}
.calendario .eventoActual .tituloOuter .tituloInner {
  background: #a01157;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 16px rgba(0,0,0,0.8);
  height: 70px;
  left: 50%;
  margin: 0 0 0 -73px;
  position: relative;
  width: 140px;
}
.calendario .eventoActual .tituloOuter .tituloInner:after {
  border-bottom: 37px solid transparent;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 15px solid #a01157;
  bottom: -52px;
  content: "";
  content: '';
  left: 0;
  position: absolute;
  right: 0px;
}
.calendario .eventoActual .tituloOuter .tituloInner p {
  color: #fff;
  font-family: Oswald;
  font-size: 1.2em;
  font-weight: 400;
  left: 14px;
  line-height: 30px;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 9px;
  transform: scale(1, 0.9);
  -ms-transform: scale(1, 0.9);
  -webkit-transform: scale(1, 0.9);
}
.calendario .eventoActual .tituloOuter .tituloInner p span {
  display: block;
  font-weight: 700;
  transform: scale(1, 1.2);
  -ms-transform: scale(1, 1.2);
  -webkit-transform: scale(1, 1.2);
}
.calendario .listaDias .listaEventos {
  margin-top: 15px;
}
.calendario .listaDias .listaEventos .contieneEvento {
  width: 92%;
  margin: 10px auto 15px auto;
}
.calendario .listaDias .listaEventos .contieneEvento:last-child {
  padding: 0 0 100px 0;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .headerEvento {
  background: #f8f8f8;
  border-bottom: 1px solid #dcdcdc;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
  position: relative;
  text-align: center;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .headerEvento span {
  color: rgba(0,0,0,0.75);
  font-size: 18px;
  font-weight: 400;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .headerEvento span:after {
  color: #177dd4;
  content: '\e609';
  font-family: icomoon;
  font-size: 1.2em;
  font-weight: 400;
  position: absolute;
  right: 16px;
  top: 10px;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .footerEvento {
  background: #f8f8f8;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #dcdcdc;
  height: 47px;
  padding: 10px 0;
span
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado {
  display: none;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .contenidoEvento {
  background: #fff;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .contenidoEvento .texto {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding: 17px 17px 35px 17px;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .contenidoEvento .texto p {
  padding: 9px;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento {
  background: #177dd4;
  height: 250px;
  position: relative;
  width: 100%;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento .detalle {
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 1;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento .detalle .logoEvento:before {
  font-family: icomoon;
  font-size: 3em;
  position: relative;
  top: 30px;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento .detalle .noLogo {
  font-weight: 400;
  margin: 0 auto;
  position: relative;
  top: 55px;
  width: 75%;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento .detalle .noLogo .sitioEvento {
  font-size: 12px;
  font-weight: 300;
  margin-top: 7px;
  text-transform: uppercase;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento .detalle .noLogo .tituloEvento {
  font-size: 1.2em;
  line-height: 1.2em;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento .imagen {
  position: relative;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .desplegado .heroEvento .imagen .imagenInner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: 100% auto;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .plegado {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 18px 0 18px 18px;
  vertical-align: 25px;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .plegado .logoEvento {
  position: relative;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .plegado .logoEvento:before {
  color: rgba(0,0,0,0.75);
  font-family: icomoon;
  font-size: 1.5em;
  left: 10px;
  position: absolute;
  top: 5px;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .plegado .sitioEvento {
  color: #a4a8aa;
  font-size: 12px;
  margin-left: 70px;
  margin-top: 0px;
  text-transform: uppercase;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .plegado .tituloEvento {
  margin: 0 10px 0 70px;
  padding: 0 10px 5px 0;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .conToro {
  position: relative;
  left: -70px;
}
.calendario .listaDias .listaEventos .contieneEvento .evento .conToro2 {
  position: relative;
  top: -55px;
}
.calendario .tituloAra {
  height: auto;
  left: 0;
  position: absolute;
  top: 430px;
  width: 100%;
  z-index: 10;
}
.calendario .tituloAra .tituloInner {
  background: #a01157;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 16px rgba(0,0,0,0.7);
  height: 72px;
  left: 50%;
  margin: -2px 0 0 -73px;
  position: relative;
  width: 145px;
}
.calendario .tituloAra .tituloInner:after {
  border-bottom: 37px solid transparent;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 15px solid #a01157;
  bottom: -52px;
  content: "";
  content: '';
  left: 0;
  position: absolute;
  right: 0px;
}
.calendario .tituloAra .tituloInner p {
  color: rgba(255,255,255,0.93);
  font-family: Oswald;
  font-size: 1.2em;
  font-weight: 400;
  left: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 9px;
  transform: scale(1, 0.9);
  -ms-transform: scale(1, 0.9);
  -webkit-transform: scale(1, 0.9);
}
.calendario .tituloAra .tituloInner p span {
  display: block;
  font-weight: 700;
  letter-spacing: 0.5px;
  transform: scale(1, 1.3);
  -ms-transform: scale(1, 1.3);
  -webkit-transform: scale(1, 1.3);
}
.contieneInformacion .informacion {
  background: #2a2c2f;
  position: relative;
}
.contieneInformacion .informacion .infoHeader {
  background: #f8f8f8;
  border-bottom: 1px solid #dcdcdc;
  color: rgba(0,0,0,0.75);
  height: 80px;
}
.contieneInformacion .informacion .infoHeader h2 {
  font-size: 21px;
  font-style: italic;
  letter-spacing: 1px;
  padding: 15px 0 0 30px;
  text-transform: uppercase;
}
.contieneInformacion .informacion .infoHeader h2 span {
  display: block;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 21px;
  text-transform: lowercase;
}
.contieneInformacion .informacion .infoOuter .infoInner {
  border-bottom: 1px solid #e6e6e6;
}
.contieneInformacion .informacion .infoOuter .infoInner .checkInfo {
  height: 70px;
  position: relative;
  width: 100%;
  z-index: 20;
}
.contieneInformacion .informacion .infoOuter .infoInner .checkInfo .puntos:after {
  color: #dcdcdc;
  content: '\e600';
  font-family: icomoon;
  font-style: normal;
  padding: 5px 0 5px 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.contieneInformacion .informacion .infoOuter .infoInner .entrades {
  margin: -70px 0 0 0;
}
.contieneInformacion .informacion .infoOuter .infoInner .entrades:before {
  content: '\e60c';
  font-family: icomoon;
  font-size: 18px;
  font-style: normal;
  left: 20px;
  position: absolute;
  top: 30px;
}
.contieneInformacion .informacion .infoOuter .infoInner .inscripcions {
  margin: -70px 0 0 0;
}
.contieneInformacion .informacion .infoOuter .infoInner .inscripcions:before {
  content: '\e60b';
  font-family: icomoon;
  font-size: 18px;
  font-style: normal;
  left: 20px;
  position: absolute;
  top: 30px;
}
.contieneInformacion .informacion .infoOuter .infoInner .horario {
  margin: -70px 0 0 0;
}
.contieneInformacion .informacion .infoOuter .infoInner .horario:before {
  content: '\e60a';
  font-family: icomoon;
  font-size: 18px;
  font-style: normal;
  left: 20px;
  position: absolute;
  top: 30px;
}
.contieneInformacion .informacion .infoOuter .infoInner .notes {
  margin: -70px 0 0 0;
}
.contieneInformacion .informacion .infoOuter .infoInner .notes:before {
  content: '\e608';
  font-family: icomoon;
  font-size: 14px;
  font-style: normal;
  left: 20px;
  position: absolute;
  top: 30px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post {
  background: #fff;
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  font-style: italic;
  line-height: 21px;
  padding: 28px 0 28px 0;
  position: relative;
}
.contieneInformacion .informacion .infoOuter .infoInner .post h4 {
  margin: 0 78px 0 55px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost {
  border-left: none;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost h5 {
  color: rgba(0,0,0,0.7);
  font-style: normal;
  margin: 20px 20px 10px 55px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost h5:first-child {
  margin: 40px 20px 10px 55px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost p {
  color: rgba(0,0,0,0.6);
  font-style: normal;
  font-weight: 400;
  margin: 0 30px 0 55px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost p:last-child {
  margin: 0 20px 30px 55px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost p.detallePostPiscina {
  margin: 20px 20px 30px 55px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost ul {
  margin: 20px 30px 0 55px;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost ul li {
  color: rgba(0,0,0,0.6);
  font-style: normal;
  font-weight: 400;
  list-style-type: circle;
  margin: 0 0 10px 0;
}
.contieneInformacion .informacion .infoOuter .infoInner .post .detallePost ul li:last-child {
  margin: 0 0 30px 0;
}
.contieneInformacion .informacion .infoOuter .infoInner .post:last-child {
  border-bottom: none;
}
.footer {
  background: rgba(23,125,212,0.8);
  color: #fff;
  height: 100px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  z-index: 5;
}
.footer .logoReeson .blanco {
  position: absolute;
  left: -45px;
  bottom: -13px;
}
.footer .right {
  float: right;
  margin: 10px 0 0 0;
  vertical-align: bottom;
}
.footer .right a {
  color: #fff;
}
.footer .right span {
  display: inline-block;
  font-weight: 400;
}
.footer .right span:after {
  content: " |";
}
.footer .right .email {
  display: inline-block;
}
.footer .right .email:after {
  content: '\e60d';
  font-family: icomoon;
  vertical-align: bottom;
}
.footerbp3 {
  display: none;
}
.header {
  height: 500px;
  width: 100%;
  position: relative;
}
.header .degradado {
  background: #2b1d53;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
.header .degradado .marco {
  height: 250%;
  left: -50%;
  position: relative;
  top: 80px;
  width: 190%;
background: rgb(215,81,93);
				background: -moz-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%, rgba(215,81,93,1) 23%, rgba(43,29,83,1) 71%, rgba(43,29,83,1) 71%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,81,93,1)), color-stop(23%,rgba(215,81,93,1)), color-stop(71%,rgba(43,29,83,1)), color-stop(71%,rgba(43,29,83,1)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -o-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -ms-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: radial-gradient(ellipse at center,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7515d', endColorstr='#2b1d53',GradientType=1 );
}
background: rgb(215,81,93);
				background: -moz-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%, rgba(215,81,93,1) 23%, rgba(43,29,83,1) 71%, rgba(43,29,83,1) 71%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,81,93,1)), color-stop(23%,rgba(215,81,93,1)), color-stop(71%,rgba(43,29,83,1)), color-stop(71%,rgba(43,29,83,1)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -o-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -ms-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: radial-gradient(ellipse at center,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7515d', endColorstr='#2b1d53',GradientType=1 );
.header .logo {
  width: 100px;
  height: 100px;
}
.header .logo img {
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 11;
  width: 180px;
  top: 25px;
}
.header .programa {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.header .programa img {
  position: relative;
  z-index: 11;
  width: 215px;
  top: 45px;
  margin: 0 0 0 -60px;
}
.logo2 {
  display: none;
}
.programa2 {
  display: none;
}
.menu {
  display: none;
}
.tituloArabp3 {
  display: none;
}
.wraper {
  overflow: hidden;
}
.imgAlaska {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Alaska.jpg");
  -webkit-filter: brightness(0.5);
}
.imgAyuntamiento {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Ayuntamiento.jpg");
  -webkit-filter: brightness(0.5);
}
.imgAyuntamiento2 {
  background: #6dab3d;
}
.imgBall {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Ball.jpg");
  -webkit-filter: brightness(0.5);
}
.imgBall2 {
  background: #11a4b4;
}
.imgBasquet {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Basquet.jpg");
  -webkit-filter: brightness(0.5);
}
.imgBici {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Bici.jpg");
  -webkit-filter: brightness(0.5);
}
.imgBillar {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Billar.jpg");
  -webkit-filter: brightness(0.5);
}
.imgCampanas {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Campanas.jpg");
  -webkit-filter: brightness(0.5);
}
.imgCaribe {
  background: #6b91a3;
}
.imgCaminar {
  background: #cb817a;
}
.imgCancer {
  background: #8ca26f;
}
.imgCatalunya {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Catalunya.jpg");
  -webkit-filter: brightness(0.5);
}
.imgCercavila {
  background: #8570bb;
}
.imgCoche {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Coche.jpg");
  -webkit-filter: brightness(0.5);
}
.imgComida {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Comida.jpg");
  -webkit-filter: brightness(0.5);
}
.imgComprar {
  background: #71bb82;
}
.imgConcurso {
  background: #7a6aa4;
}
.imgDisco {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Disco.jpg");
  -webkit-filter: brightness(0.5);
}
.imgDisco2 {
  background: #bc3a79;
}
.imgExpo {
  background: #6aa479;
}
.imgFiesta {
  background: #a6a872;
}
.imgFiesta2 {
  background: #b1b367;
}
.imgFuegos {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Fuegos.jpg");
  -webkit-filter: brightness(0.5);
}
.imgFutbol {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Futbol.jpg");
  -webkit-filter: brightness(0.5);
}
.imgGuitarra {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Guitarra.jpg");
  -webkit-filter: brightness(0.5);
}
.imgHermita {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Hermita.jpg");
  -webkit-filter: brightness(0.5);
}
.imgHermita2 {
  background: #567997;
}
.imgIndependencia {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Independencia.jpg");
  -webkit-filter: brightness(0.5);
}
.imgJota {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Jota.jpg");
  -webkit-filter: brightness(0.5);
}
.imgJota2 {
  background: #a56e85;
}
.imgMusica {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Musica.jpg");
  -webkit-filter: brightness(0.5);
}
.imgMusica2 {
  background: #ba8962;
}
.imgNadar {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Nadar.jpg");
  -webkit-filter: brightness(0.5);
}
.imgPubilla {
  background: #9b6aa4;
}
.imgReligion {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Religion.jpg");
  -webkit-filter: brightness(0.5);
}
.imgRecortes {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Recortes.jpg");
  -webkit-filter: brightness(0.5);
}
.imgReligion2 {
  background: #c66710;
}
.imgTeatro {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Teatro.jpg");
  -webkit-filter: brightness(0.5);
}
.imgSorteo {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Sorteo.jpg");
  -webkit-filter: brightness(0.5);
}
.imgTiro {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Tiro.jpg");
  -webkit-filter: brightness(0.5);
}
.imgToro {
  background: url("http://ulldecona.herobo.com/image/fqu/eventos/Toro.jpg");
  -webkit-filter: brightness(0.5);
}
.imgToro2 {
  background: #a25d3a;
}
.imgTorneo {
  background: #6c7a9e;
}
.imgTorneo2 {
  background: #5972b0;
}
.arte:before {
  content: '\e021';
}
.ayuntamiento:before {
  content: '\e075';
}
.baile:before {
  content: '\e232';
}
.basquet:before {
  content: '\e285';
}
.bicicleta:before {
  content: '\e610';
}
.billar:before {
  content: '\e603';
}
.bocata:before {
  content: '\e229';
}
.bouBlack {
  float: left;
  opacity: 0.8;
  left: -48px;
  top: -50px;
  position: relative;
}
.bouBlue {
  float: left;
  opacity: 0.8;
  left: -48px;
  top: -50px;
  position: relative;
}
.bouWhite {
  left: 0;
  top: 0;
  position: relative;
}
.cercavila:before {
  content: '\e03d';
}
.camara:before {
  content: '\e61d';
}
.campana:before {
  content: '\e613';
}
.cancer:before {
  content: '\e602';
}
.castillo:before {
  content: '\e606';
}
.comprar:before {
  content: '\e605';
}
.concierto:before {
  content: '\e03d';
}
.chimchim:before {
  content: '\e19b';
}
.cloenda:before {
  content: '\e060';
}
.coptel:before {
  content: '\e615';
}
.coche:before {
  content: '\e619';
}
.concurso:before {
  content: '\e217';
}
.conferencia:before {
  content: '\e618';
}
.cubierto:before {
  content: '\e228';
}
.cultura:before {
  content: '\e321';
}
.dibujo:before {
  content: '\e601';
}
.desfile:before {
  content: '\e2e4';
}
.disco:before {
  content: '\e60e';
}
.entreno:before {
  content: '\e1f6';
}
.escudo:before {
  content: '\f132';
}
.flor:before {
  content: '\e61c';
}
.futbol:before {
  content: '\e616';
}
.globo:before {
  content: '\e612';
}
.iglesia:before {
  content: '\e00a';
}
.libro:before {
  content: '\e614';
}
.musica:before {
  content: '\e61b';
}
.nadar:before {
  content: '\e617';
}
.sorteo:before {
  content: '\e611';
}
.tiro:before {
  content: '\e61a';
}
.ticket:before {
  content: '\e60c';
}
.torneo:before {
  content: '\e21d';
}
.trobada:before {
  content: '\e619';
}
.descansem:before {
  content: '\e602';
}
@-moz-keyframes multiEvento2 {
  0% {
    margin-left: 0;
  }
  45% {
    margin-left: 0;
  }
  50% {
    margin-left: -335px;
  }
  90% {
    margin-left: -335px;
  }
  95% {
    margin-left: -335px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes multiEvento2 {
  0% {
    margin-left: 0;
  }
  45% {
    margin-left: 0;
  }
  50% {
    margin-left: -335px;
  }
  90% {
    margin-left: -335px;
  }
  95% {
    margin-left: -335px;
  }
  100% {
    margin-left: 0;
  }
}
@-o-keyframes multiEvento2 {
  0% {
    margin-left: 0;
  }
  45% {
    margin-left: 0;
  }
  50% {
    margin-left: -335px;
  }
  90% {
    margin-left: -335px;
  }
  95% {
    margin-left: -335px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes multiEvento2 {
  0% {
    margin-left: 0;
  }
  45% {
    margin-left: 0;
  }
  50% {
    margin-left: -335px;
  }
  90% {
    margin-left: -335px;
  }
  95% {
    margin-left: -335px;
  }
  100% {
    margin-left: 0;
  }
}
@-moz-keyframes multiEvento3 {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -335px;
  }
  60% {
    margin-left: -335px;
  }
  65% {
    margin-left: -670px;
  }
  95% {
    margin-left: -670px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes multiEvento3 {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -335px;
  }
  60% {
    margin-left: -335px;
  }
  65% {
    margin-left: -670px;
  }
  95% {
    margin-left: -670px;
  }
  100% {
    margin-left: 0;
  }
}
@-o-keyframes multiEvento3 {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -335px;
  }
  60% {
    margin-left: -335px;
  }
  65% {
    margin-left: -670px;
  }
  95% {
    margin-left: -670px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes multiEvento3 {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  35% {
    margin-left: -335px;
  }
  60% {
    margin-left: -335px;
  }
  65% {
    margin-left: -670px;
  }
  95% {
    margin-left: -670px;
  }
  100% {
    margin-left: 0;
  }
}
@media screen and (min-width: 450px) {
  .abrirEventos {
    width: 70%;
  }
  .calendario .eventoActual .detalleMultiEvento2 .plegado,
  .calendario .eventoActual .detalleMultiEvento3 .plegado {
    width: 360px;
  }
  .calendario .eventoActual .detalleMultiEvento2 .plegado:first-child,
  .calendario .eventoActual .detalleMultiEvento3 .plegado:first-child {
    margin: 0;
  }
  .calendario .eventoActual .detalleMultiEvento3 {
    animation: multiEvento3 10s infinite;
    -webkit-animation: multiEvento3 10s infinite;
  }
  .calendario .listaDias .listaEventos .contieneEvento {
    width: 70%;
  }
  .header {
    background: #f00;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .header .logo img {
    width: 200px;
  }
  .header .programa img {
    margin: 10px 0 0 -100px;
    width: 280px;
  }
@-moz-keyframes multiEvento2 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    90% {
      margin-left: 0;
    }
    95% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
}
@-webkit-keyframes multiEvento2 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    90% {
      margin-left: 0;
    }
    95% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
}
@-o-keyframes multiEvento2 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    90% {
      margin-left: 0;
    }
    95% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
}
@keyframes multiEvento2 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    90% {
      margin-left: 0;
    }
    95% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
}
@-moz-keyframes multiEvento3 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: -385px;
    }
    90% {
      margin-left: -385px;
    }
    95% {
      margin-left: -385px;
    }
    100% {
      margin-left: 0;
    }
}
@-webkit-keyframes multiEvento3 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: -385px;
    }
    90% {
      margin-left: -385px;
    }
    95% {
      margin-left: -385px;
    }
    100% {
      margin-left: 0;
    }
}
@-o-keyframes multiEvento3 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: -385px;
    }
    90% {
      margin-left: -385px;
    }
    95% {
      margin-left: -385px;
    }
    100% {
      margin-left: 0;
    }
}
@keyframes multiEvento3 {
    0% {
      margin-left: 0;
    }
    45% {
      margin-left: 0;
    }
    50% {
      margin-left: -385px;
    }
    90% {
      margin-left: -385px;
    }
    95% {
      margin-left: -385px;
    }
    100% {
      margin-left: 0;
    }
}
}
@media screen and (min-width: 770px) {
  #bgCanvas {
    display: none;
  }
  #bgCanvas2 {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: 9;
  }
  .abrirEventos {
    width: 90%;
    margin: 315px auto 1em auto;
  }
  .contenido {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 85px;
    width: 100%;
  }
  .contenido .calendario {
    bottom: 0;
    float: right;
    margin: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: -5px;
    width: 420px;
    z-index: 5;
  }
  .contenido .calendario .botonera {
    border-radius: 0 0 0 10px;
    position: fixed;
    right: 0;
    top: 215px;
    width: 420px;
  }
  .contenido .calendario .eventoActual {
    position: fixed;
    right: 0;
    min-height: 130px;
    top: 85px;
    width: 420px;
  }
  .contenido .calendario .listaDias {
    margin: 10px 0 0 0;
  }
  .contenido .calendario .listaDias .listaEventos .contieneEvento {
    width: 92%;
  }
  .contenido .calendario .tituloAra {
    display: none;
  }
  .contenido .contieneInformacion {
    background: #fff;
    bottom: 0;
    border-right: 1px solid #dcdcdc;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 420px;
    top: 85px;
    z-index: 0;
  }
  .contenido .contieneInformacion .infoHeader {
    background: #f8f8f8;
    border-bottom: 1px solid #dcdcdc;
    color: rgba(0,0,0,0.75);
    height: 70px;
  }
  .contenido .contieneInformacion .infoHeader h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0px;
    padding: 20px 0 0 30px;
    text-transform: none;
  }
  .contenido .contieneInformacion .infoHeader h2 span {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 0px;
    text-transform: lowercase;
  }
  .contenido .contieneInformacion .infoOuter .infoInner .post .detallePost ul li:last-child {
    margin: 0 0 100px 0;
  }
  .contenido .contieneInformacion .puntos {
    display: none;
  }
  .footer {
    display: none;
  }
  .footerbp3 {
    display: block;
    background: rgba(255,255,255,0.95);
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    bottom: 0;
    height: 70px;
    left: 0;
    position: fixed;
    right: 420px;
    z-index: 20;
  }
  .footerbp3 .contactar {
    vertical-align: bottom;
    position: absolute;
    right: 30px;
    bottom: 28px;
  }
  .footerbp3 .contactar a {
    color: rgba(0,0,0,0.8);
  }
  .footerbp3 .contactar span {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
  }
  .footerbp3 .contactar span:after {
    content: " |";
  }
  .footerbp3 .contactar .email {
    display: inline-block;
  }
  .footerbp3 .contactar .email:after {
    content: '\e60d';
    font-family: icomoon;
    vertical-align: bottom;
  }
  .footerbp3 .logoReeson .negro {
    position: absolute;
    left: -50px;
    bottom: -28px;
  }
  .header {
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 8;
  }
  .header .degradado {
    background: #2b1d53;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header .degradado .marco {
    height: 500%;
    width: 250%;
    position: relative;
    top: -200px;
    left: -150%;
background: rgb(215,81,93);
				background: -moz-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%, rgba(215,81,93,1) 23%, rgba(43,29,83,1) 71%, rgba(43,29,83,1) 71%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,81,93,1)), color-stop(23%,rgba(215,81,93,1)), color-stop(71%,rgba(43,29,83,1)), color-stop(71%,rgba(43,29,83,1)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -o-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -ms-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: radial-gradient(ellipse at center,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7515d', endColorstr='#2b1d53',GradientType=1 );
  }
background: rgb(215,81,93);
				background: -moz-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%, rgba(215,81,93,1) 23%, rgba(43,29,83,1) 71%, rgba(43,29,83,1) 71%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(215,81,93,1)), color-stop(23%,rgba(215,81,93,1)), color-stop(71%,rgba(43,29,83,1)), color-stop(71%,rgba(43,29,83,1)));
				background: -webkit-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -o-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: -ms-radial-gradient(center, ellipse cover,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				background: radial-gradient(ellipse at center,  rgba(215,81,93,1) 0%,rgba(215,81,93,1) 23%,rgba(43,29,83,1) 71%,rgba(43,29,83,1) 71%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7515d', endColorstr='#2b1d53',GradientType=1 );
  .header .logo {
    width: 100px;
    height: 100px;
  }
  .header .logo img {
    width: 68px;
    position: fixed;
    z-index: 15;
    top: 7px;
    left: 17px;
  }
  .header .programa {
    display: none;
  }
  .logo2 {
    display: block;
    width: 100px;
    height: 100px;
  }
  .logo2 img {
    width: 68px;
    position: fixed;
    z-index: 15;
    top: 7px;
    left: 17px;
  }
  .programa2 {
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 15;
    top: 20px;
    left: 110px;
  }
  .programa2 img {
    width: 400px;
  }
  .tituloArabp3 {
    display: block;
    position: fixed;
    right: 175px;
    z-index: 10;
    top: 15px;
  }
  .tituloArabp3 .tituloInner {
    background: #a01157;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -2px 16px rgba(0,0,0,0.7);
    height: 72px;
    left: 50%;
    margin: -2px 0 0 -73px;
    position: relative;
    width: 145px;
  }
  .tituloArabp3 .tituloInner:after {
    border-bottom: 37px solid transparent;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 15px solid #a01157;
    bottom: -52px;
    content: "";
    content: '';
    left: 0;
    position: absolute;
    right: 0px;
  }
  .tituloArabp3 .tituloInner p {
    color: #fff;
    font-family: Oswald;
    font-size: 1.2em;
    font-weight: 400;
    left: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
    transform: scale(1, 0.9);
    -ms-transform: scale(1, 0.9);
    -webkit-transform: scale(1, 0.9);
  }
  .tituloArabp3 .tituloInner p span {
    display: block;
    font-weight: 700;
    letter-spacing: 0.5px;
    transform: scale(1, 1.3);
    -ms-transform: scale(1, 1.3);
    -webkit-transform: scale(1, 1.3);
  }
}
